:root{
  //color
  --naailblog-primary-color: #285CFF;
  --naailblog-secondary-color: #003BF5;
  --naailblog-heading-color: #182D70;
  --naailblog-text-color: #364574;
  --naailblog-boreder-color: #E0E4F1;

  //typography
  --naailblog-base-ff: 'sans-serif';//will change
  --naailblog-base-fs: 16px;
  --naailblog-base-lh: 1.5;
  --naailblog-base-fw: 400;

  //heading
  --naailblog-h-ff: 'sans-serif';//will change
  --naailblog-h-lh: 1.2;
  --naailblog-h-fw: 700;

  --naailblog-h1-fs: 50px;
  --naailblog-h2-fs: 40px;
  --naailblog-h3-fs: 36px;
  --naailblog-h4-fs: 28px;
  --naailblog-h5-fs: 20px;
  --naailblog-h6-fs: 18px;
}